@charset "utf-8";

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    color:#FEFDF2;
    font-family: "Zen Maru Gothic";
    background-color: #808080;
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    min-width: 100%;
}



/* カーソル */

*{
    cursor: url("Sky_cursor_02.svg") 4 4, auto;
}



/* ヘッダー */

header{
    padding-top: 0.4em;
    position: fixed;
    width: 100%;
    z-index: 30;
}

.header_container{
    display: flex;
    align-items: center;
}

h1{
    display: inline-block;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0 auto;
}



/* メニューボタン */

.menu_button{
    background-color: transparent;
    transition: all 0.3s;
    border-radius: 4px;
    border: none;
    position: absolute;
    top: 12px;
    right: 12px;
    margin: auto 0;
    padding: 24px;
    z-index: 30;
}

@media (hover: hover){ /* PC用 */
    .menu_button:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.menu_button:active{ /* スマホ用 */
    background-color: rgba(0, 0, 0, 0.3);
}

.menu_button span{
    background-color: #FEFDF2;
    transition: all 0.3s;
    position: absolute;
    height: 2px;
    width: 24px;

}

.menu_button span:nth-of-type(1){
    top: 16px;
    right: 12px;
}

.menu_button span:nth-of-type(2){
    top: 24px;
    right: 12px;
}

.menu_button span:nth-of-type(3){
    top: 32px;
    right: 12px;
}

.menu_button.open span:nth-of-type(1){
    transform: rotate(45deg);
    top: 24px;
}

.menu_button.open span:nth-of-type(2){
    transform: translateX(0.6em);
    opacity: 0;
}

.menu_button.open span:nth-of-type(3){
    transform: rotate(-45deg);
    top: 24px;
}


/* メニュー */

.menu_container{
    /* background-color: #00000080; */
    height: 100dvh;
    width: 100%;
    display: flex;
    position: fixed;

    opacity: 0;
    z-index: 1;
    transition: all 0.4s;
}

.menu_container.open{
    opacity: 1;
    z-index: 15;
}

.menu{
    background-color: #00000080;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: max-content;
    padding: 58px 10px 10px 10px;
    margin: 0;
    position: absolute;
    list-style: none;
    top: 6px;
    right: 6px;
    gap: 4px;
    border-radius: 4px;
}

.menu li{
    font-size: 1.6em;
    font-weight: 400;
    padding: 0.3em 0.8em;
    text-align: right;
    border-radius: 0.2em;
    transition: all 0.2s;
}

.menu li:hover{
    background-color: #ffffff20;
}

@media (max-width: 1024px){
    .menu{
        padding: 10px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .menu li{
        text-align: center;
    }
}

@media (max-width: 600px){
    .menu li{
        font-size: 1.2em;
    }
}


/* 時計 */

#clock{
    font-size: 1.2em;
    text-align: center;
}



/* メイン */

.main_content{
    transition: opacity 0.4s;
}

@media (max-width: 1024px){
    .main_content.open{
    opacity: 0;
    }
}

#today_location{
    font-size: 2em;
    font-weight: 400;
    position: fixed;
    left: 1em;
    bottom:60px;
    margin: 0;
}

@media (max-width: 600px){
    #today_location{
        font-size: 1.6em;
    }
}

.event_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px){
    .event_container{
        font-size: 0.8em;
    }
}

#no_event{
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    position: absolute;
    top: 45%;
}

.event_1{
    font-size: 2.5em;
    position: absolute;
    padding: 0 0.8em 0 0.8em;
    margin: 0;
    border-radius: 2em;
    top: 34%;
}

.event_2{
    font-size: 2.5em;
    position: absolute;
    margin: 0;
    padding: 0 0.8em 0 0.8em;
    border-radius: 2em;
    top: 41%;
}

.event_3{
    font-size: 2.5em;
    position: absolute;
    padding: 0 0.8em 0 0.8em;
    margin: 0;
    border-radius: 2em;
    top: 48%;
}

#countdown{
    font-size: 2.0em;
    font-weight: 400;
    position: absolute;
    margin: 0;
    top: 58%;
}


/* ロード画面 */

.loading_container{
    background: linear-gradient(180deg, #4bc9f0, #84defa);
    z-index: 50;
    height: 100dvh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;  /* あとで消す */
}

.loaded{
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.load_bg{
    height: 400px;
    width: 400px;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;

    /* border: 2px solid #800000; */
}

.loading_icon{
    height: 8em;
    width: 8em;
    position: absolute;
    top: 20%;
}

.load_text{
    color: #FEFDF2;
    font-size: 2.5em;
    font-weight: 400;
    margin: 0 auto;
    position: absolute;
    bottom: 32%;
}

@media (max-width: 600px){
    .loading_container{
        font-size: 0.8em;
    }
    .loading_icon{
        top: 25%
    }
    .load_text{
        bottom: 37%;
    }
}