@charset "utf-8";

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Zen Maru Gothic";
    background-color: #808080;
}

/* カーソル */

*{
    cursor: url("Sky_cursor_01.svg") 4 4, auto;
}

/* ヘッダー */

header{
    margin-top: 0.4em;
}

.header_container{
    display: flex;
    position: relative;
    align-items: center;
}

h1{
    display: inline-block;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0 auto;
}

/* メニューボタン */

.menu_button{
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 0.45em;
    margin: auto 0;
    padding: 24px;
}

.menu_button span{
    background-color: #ffffff;
    transition: all 0.3s;
    position: absolute;
    height: 2px;
    width: 24px;
    z-index: 10;
}

.menu_button span:nth-of-type(1){
    top: 16px;
    right: 12px;
}

.menu_button span:nth-of-type(2){
    top: 24px;
    right: 12px;
}

.menu_button span:nth-of-type(3){
    top: 32px;
    right: 12px;
}

.menu_button.open span:nth-of-type(1){
    transform: rotate(45deg);
    top: 24px;
}

.menu_button.open span:nth-of-type(2){
    transform: translateX(0.6em);
    opacity: 0;
}

.menu_button.open span:nth-of-type(3){
    transform: rotate(-45deg);
    top: 24px;
}

/* 時計 */

#clock{
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

/* メイン */

/* .main_container{
    
} */

#today_location{
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
    position: absolute;
    left: 1em;
    bottom: 2em;
    margin: 0;
}